@model Encryptics.WebPortal.Areas.UserAccount.Models.EditableUserAccountModel

@{
    ViewBag.Title = "Manage Account";
    var encrypticsUser = ViewHelper.GetEncrypticsUser();
}

@Html.Partial("_ErrorMessages")

<div class="pageHeader">
    <h1>@ViewBag.Title</h1>

    <h4 class="breadcrumbs">
        @if (encrypticsUser.CompanyCount > 1)
        {
            <a href="@Url.Action("Index", "Home", new { area = string.Empty })">
                <img src="@Url.Content("~/Images/icons/house.png")" alt="" /></a>
            <text>&gt;</text>
            @Html.ActionLink(Model.Name, "Dashboard", "UserHome"/*, new { area = string.Empty }*/)
            <text>&gt;</text>
            <span>edit details</span>
        }
        else
        {
            <a href="@Url.Action("Dashboard", "UserHome"/*, new { area = string.Empty }*/)">
                <img src="@Url.Content("~/Images/icons/house.png")" alt="" /></a>
            <text>&gt;</text>
            <span>edit details</span>
        }
    </h4>
</div>

<section class="white">
    @Html.EditorForModel()
</section>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#cancelButton').click(function () {
                window.location = '@Url.Action("Dashboard", "UserHome")';
            });
        });
    </script>
}
