@using Encryptics.WebPortal.Properties
@model Encryptics.WebPortal.Models.LocalPasswordModel

<style>
    .rightSide {
        width: 40%;
        float: left;
        padding-right: 15px;
    }

    .rightSide h3 {
        margin-bottom: 20px;
    }

    .leftSide {
        width: 40%;
        float: left;
    }

    #changePasswordButton {
        position: relative;
        bottom: 0;
        right: 0;
        float: left;
    }

    #statusMessage {
        position: relative;
        top: -10px;
        min-height: 15px;
    }

    #errorMessages, #statusMessage {
        font-family: ProximaNova-Regular;
        font-size: small;
        font-weight: bold;
    }

    #errorMessages {
        color: darkred;
        min-height: 30px;
    }
</style>

<div class="rightSide">
    <h3 style="text-align: right !important">@Resources.ManagePasswordPartialTitle</h3>
    <div id="statusMessage">@ViewBag.StatusMessage</div>
    @using (Html.BeginForm("JsonChangePassword", "UserHome", new { area = "UserAccount" }, FormMethod.Post, new { AutoComplete = "off", id = "changePasswordForm" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>@*Change Password Form*@</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
                <li id="errorMessages"></li>
            </ol>
            <a href="#" id="changePasswordButton" class="button">@Resources.SubmitDisplay <span>></span></a>
        </fieldset>
    }
</div>
@{
    var imageLocation = Url.Content(string.Format("~/Images/{0}.png", ViewBag.Image));
}
<div class="leftSide">
    <div style="float: right">
        <img src="@Html.Raw(imageLocation)" alt=""/>
    </div>
</div>
