@using Encryptics.WebPortal.Properties
@model Encryptics.WebPortal.Models.LocalPasswordModel

<style>
    /*@@media screen and (max-width: 1024px) {*/
    .rightSide {
        width: 40%;
        float: right;
        /*padding-left: 15px;*/
    }

    /*.leftSide h3 {
                margin-bottom: 20px;
            }*/

    .leftSide {
        width: 40%;
        float: left;
    }

    .rightSide img {
        width: 95%;
    }
    /*}*/

    #changePasswordForm fieldset {
        margin-right: 0 !important;
    }

    @@media screen and (max-width: 480px) {
        .rightSide {
            width: 100%;
            padding-right: 3px;
        }

        .leftSide {
            display: none;
        }

        #changePasswordForm li {
            padding-bottom: 0 !important;
        }
    }

    #changePasswordButton {
        position: relative;
        bottom: 0;
        left: 0;
        float: left;
    }

    @@media screen and (max-width: 480px) {
        #changePasswordButton {
            left: 6px;
            bottom: -20px;
        }
    }

    #statusMessage {
        position: relative;
        top: 3px;
        min-height: 15px;
    }

    #errorMessages, #statusMessage {
        font-family: ProximaNova-Regular;
        font-size: small;
        font-weight: bold;
    }

    #errorMessages {
        color: darkred;
        min-height: 30px;
    }
</style>

<div class="rightSide">
    <h3 style="text-align: right !important">@Resources.ManagePasswordPartialTitle</h3>
    <div id="statusMessage">@ViewBag.StatusMessage</div>
    @using (Html.BeginForm("JsonChangePassword", "UserHome", new { area = "UserAccount" }, FormMethod.Post, new { AutoComplete = "off", id = "changePasswordForm" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>@*Change Password Form*@</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
                <li id="errorMessages"></li>
            </ol>
            <a href="#" id="changePasswordButton" class="button">@Resources.SubmitDisplay <span>></span></a>
        </fieldset>
    }
</div>
@{
    var imageLocation = Url.Content(string.Format("~/Images/{0}.png", ViewBag.Image));
}
<div class="leftSide">
    <div style="float: right">
        <img src="@Html.Raw(imageLocation)" alt=""/>
    </div>
</div>
