@using System.Web.Configuration
@model Encryptics.WebPortal.Models.ActivationWithPasswordModel

@{
    ViewBag.Title = "Create Password for your Account";
}

<div class="pageHeader">
    <h1>@ViewBag.Title</h1>
</div>

@Html.Partial("_ErrorMessages")

<section class="featured light">
    @using (Html.BeginForm("ActivateAccount", "Account", new { area = string.Empty }, FormMethod.Post, new { AutoComplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @*Html.ValidationSummary(true)*@
        <fieldset>
            @Html.HiddenFor(m => m.ActivationCode)
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.Hash)
            <legend>Reset Password</legend>
            <ol class="float-left formSection">
                <li>
                    <ol>
                        <li>
                            <div class="fields">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
            <ol class="float-right formSection">
                <li>
                    <ol>
                        <li>
                            <div class="fields">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword)
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
            @*@{
        bool displayCaptcha;
        bool.TryParse(WebConfigurationManager.AppSettings["CaptchaEnabled"], out displayCaptcha);
        if (displayCaptcha)
        {
                <div class="g-recaptcha" data-sitekey="@WebConfigurationManager.AppSettings["CaptchaSiteKey"]"></div>
        }
            }*@
            <div style="min-height: 75px">
                @Html.ValidationSummary()
            </div>
            <div class="formActions">
                <input type="button" value="Cancel" style="float: left;" id="cancelButton" />
                <input type="submit" value="Activate Account" class="mainAction" style="float: right;" />
            </div>
        </fieldset>
    }

</section>


@section scripts
{
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#cancelButton').click(function (e) {
                e.preventDefault();
                window.location = '@Url.Action("Login")';
            });
        });
    </script>
}