@model Encryptics.WebPortal.Models.PageableViewModel<Encryptics.WebPortal.Areas.UserAccount.Models.UserEmailModel>

<section class="light">
    <table id="pageableTable" class="newDataTable" style="width: 100%">
        @Html.Partial("_EmailTablePartial", Model.DataItems)
        <tr class="hidden"></tr>
        <tfoot>
            <tr class="tableFooter">
                <td colspan="4">
                    <span>@if (Model.CurrentPage > 1)
                          {<a href="#" id="@Html.Raw(ViewData.TemplateInfo.HtmlFieldPrefix)_PrevCompanyPage">&laquo; prev</a>}
                          else
                          {<text>&laquo; prev</text>}</span>
                    <span class="pagingBar">Page @Html.DropDownListFor(m => m.CurrentPage, Model.PageList)of @Model.PageCount</span>
                    <span>@if (Model.PageCount > Model.CurrentPage)
                          {<a href="#" id="@Html.Raw(ViewData.TemplateInfo.HtmlFieldPrefix)_NextCompanyPage">next &raquo;</a>}
                          else
                          {<text>next &raquo;</text>}</span>
                </td>
            </tr>
        </tfoot>
    </table>
</section>
